docs/_build/*
docs/_static/*
docs/_templates/*

build/*
dist/*
skillbridge.egg-info/*

.idea/*
**/.coverage*
**/.hypothesis/*
**/.mypy_cache/*
**/htmlcov/*

env/*

**/__pycache__/*

skillbridge/server/python_server.py.log
skillbridge/server/python_server.log
skillbridge/client/definitions*
skillbridge/client/workspace.pyi

test.py
test.ipynb
**/.ipynb_checkpoints/*

*.so