include skillbridge/client/definitions.txt
include skillbridge/server/python_server.il
include skillbridge/parser/generated/lexer.c
include skillbridge/parser/generated/lexer.h
include skillbridge/parser/generated/parser.c
include skillbridge/parser/generated/parser.h
include skillbridge/parser/cparser.c
include skillbridge/parser/skill.l
include skillbridge/parser/skill.y
